<div id=profile-modal-outer class= profile-modal-outer>
  <div class = profile-modal>
    <button class= view-profile> View Profile </button>
    <button class= view-liked-questions id=view-liked-questions> Liked Questions </button>
    <button class= logout id=logout_btn> Logout</button>
  </div>
</div>

<div class=header>
  <a href = "/home">
      <img style="width:120px" src="{{ url_for('static', filename='examinelogomin.png') }}"></img>
  </a>
  <div class= icons>
      <i id=profile class="fa fa-user-circle-o fa-2x" aria-hidden="true" data-testid="dsy-icon"></i>
  </div>
</div>
