{{userID}}
{{questionID}}
<div class=question>
    <div class=topline>
        <h4>{{question['question']}}</h4>
        <div class='flex-row'>
            <h4>{{question['likes']}}</h4>
            {% if question["liked"] %}
                <i userID={{userID}} questionID={{question ["_id"]["$oid"]}} class="fa fa-thumbs-up  fa-3x" id= thumbs-up-selected aria-hidden="true"></i>
                <i userID={{userID}} questionID={{question ["_id"]["$oid"]}} class="fa fa-thumbs-o-up  fa-3x" id= thumbs-up aria-hidden="true" style="display: none"></i>
            {% else %}
                <i userID={{userID}} questionID={{question ["_id"]["$oid"]}} class="fa fa-thumbs-up  fa-3x" id= thumbs-up-selected aria-hidden="true" style="display: none"></i>
                <i userID={{userID}} questionID={{question ["_id"]["$oid"]}} class="fa fa-thumbs-o-up  fa-3x" id= thumbs-up aria-hidden="true" ></i>
            {% endif %}
        </div>
    </div>

    {% set current= range(0,4)|random %}
    
    {% for i in range(4) %}
        
        {% if (i + current) %4==0 %}
            <p questionID={{question ["_id"]["$oid"]}} class="correct unselected" >{{question['correct_answer']}}</p>
        {% else %}
            <p questionID={{question ["_id"]["$oid"]}} class=unselected>{{question['distractor'+(((i + current) %4)|string)]}}</p>
        {% endif %}
        
    {% endfor %}
    <div id= {{ "answer_" + question ["_id"]["$oid"]  }} class=answer>
        <h4>{{question['correct_answer']}}</h4>
        <span>{{question['support']}}</span>
    </div>
</div>
