html {
    height: 100%;
}

body {
    font-family: 'Helvetica', sans-serif;
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

button {
    font-family: 'Helvetica', sans-serif;
    border-style: solid;
    background-color: #f1f1f1;
}

.header{
    background-color: #f7f0e4;
    height: 40px;
    padding: 10px;

}

.header img{
   height: 100%;
}

a{
    color:inherit;
    text-decoration: none;
}

.content {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}

.container{
    background-color: #e1e1e1;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dark{
    background-color: #d1d1d1;
}

.flash-message{
    border-radius: 10px;
    height: auto;
    background-color: #fffbf7;
    display: block;
    padding: 15px 30px;
    border-top: 5px solid rgb(247, 156, 37);
    color: rgb(247, 156, 37);
}

.flash-error{
    border-radius: 10px;
    height: auto;
    background-color: #fffbf7;
    display: block;
    padding: 15px 30px;
    border-top: 5px solid #ff7788;
    color: #ff7788;
}

.flash{
    background-color: #e1e1ff;
    color: #6161ff;
}


.logout{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-field{
    margin: 10px;
}

.submit-field{
    margin: 25px 10px;
}

.loginbox{
    border-radius: 10px;
    height: auto;
    text-align: center;
    background-color: #fffbf7;
    display: block;
}

.center-box{
    width: 30%;
    margin: auto;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
}

.bottom-bar{
    position: sticky;
    bottom: 0;
    height: 20vh;
}

.green{
    display: block;
    height: 70%;
    background-color: #00ff00;
}

.user-box{
    width: 20vh;
    text-align: center;
    display: grid;
    justify-content: center;
}

.chat-box{
    display: block;
    width: 100%;
    justify-content: space-between;
}

.pfp{
    max-width: 120px;
    max-height: 120px;
    height: auto;
    width: auto;
    object-fit: contain;
}

.pfp-small{
    max-width: 60px;
    max-height: 60px;
    height: auto;
    width: auto;
    object-fit: contain;
}

.flex-row{
    display:flex;
    align-items: stretch;
    position: relative;
}

.forum-submit{
    width: 20vh;
    height: -webkit-fill-available;
    right: 0;
}

.forum-form-body{
    width: 100%;
}

.forum-form-top{
    justify-content: space-around;
    height: 20%
}

.forum-form-bottom{
    display: grid;
    grid-template-rows: 25% auto;
    height: 80%;
}

.no-margin{
    margin: 0;
}

.editbutton{
    position: absolute;
    right: 0;
}

.userLHS{
    width: 70%;
}

.userRHS{
    width: 30%;
}

.icon-input{
    all: initial;
    cursor: pointer;
}

.form-input{
    border-radius: 10px;
    padding: 5px 10px;
    border: 3px solid rgb(245, 204, 151)
}

.form-input:focus{
    border: 3px solid rgb(238, 146, 25)
}

*,*:focus,*:hover{
    outline:none;
}

.loginbutton{
    background-color: rgb(247, 156, 37);
    border-radius: 10px;
    color: #ffffff;
    padding: 2px 45px;
    border-color: rgb(247, 156, 37);
    font-weight: 900;
    transition-duration: 0.25;
}
.loginbutton:hover{
    background-color: rgb(248, 141, 0);
    border-color:  rgb(248, 141, 0);
}

.register{
    border-radius: 10px;
    border-color: rgb(247, 156, 37);
    background-color: #ffffff;
    color: rgb(247, 156, 37);
    padding: 2px 15px;
    transition-duration: 0.25;
}
.register:hover {
    background-color:rgb(247, 156, 37);
    color: #ffffff


}
.registerbutton:hover{
    background-color: rgb(248, 141, 0);
    border-color:  rgb(248, 141, 0);
}

.registerbutton{
    background-color: rgb(247, 156, 37);
    border-radius: 10px;
    color: #ffffff;
    padding: 2px 45px;
    border-color: rgb(247, 156, 37);
    font-weight: 900;
    transition-duration: 0.25;
}

.search-container {
    background-color: #ffffff;
    border-radius: 40px;
    margin: auto;
    width: 40px;
    padding: 10px;
    transition-duration: 0.5s;

}

.search-container input{
    height: 25px;
    width: 0px;
    transition-duration: 0.5s;
    border: none;

}

.search-container button {
    border: none;
    background-color: #ffffff;
    color:rgb(247, 156, 37);
    height: 25px;
    width: 25px;
}

.search-container:hover input{
    width: 200px;

}
.search-container:hover{
    width: 240px;
}

.icons{
    display: inline;
    float: right;
}

.icons i{
    margin: 10px;
    color: #fa883c;
    border: none;

}

.profile-modal{
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 65px;
    right: 10px;
    width: 150px;
    height: 120px;
    border-radius: 10px;
    border:2px solid #fa883c;
    padding: 10px;
    text-align: center;
}

.profile-modal-outer{
    position:absolute;
    background-color: rgba(226, 226, 226, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.view-profile{
    color: #ffffff;
    border-color: #fa883c;
    background-color: #fa883c;

}

.view-liked-questions{
    color: #ffffff;
    border-color: #fa883c;
    background-color: #fa883c;

}

.logout{
    color: #fa883c;
    border-color: #fa883c;
    background-color: #ffffff;


}

.view-profile, .logout, .view-liked-questions{
    height: 30px;
    width: 145px;
    margin: 5px;
    font-size: 15px;
    position: relative;
    padding: 0px;
    border-radius: 10px;
    font-weight: bold;

}

.heading-content{
    text-align:center;
    color: #fa883c;
    color:#ffffff;
}

.heading-content .heading-content{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

.block{
    display: block;
}

.question{
    background-color: #ffffff;
    width:600px;
    margin:25px auto;
    border-radius: 10px;
    height: auto;
    background-color: #fffbf7;
    display: block;
    padding: 15px 30px;
    border-top: 5px solid rgb(247, 156, 37);
    color: rgb(247, 156, 37);

}

.answer{
    display:none;
    background-color: rgb(255, 230, 197);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}

.question p{
    transition: 0.2s;
    padding:10px;
    margin: 0px 5px;
    border-top: 1px solid #cccccc;
}

.unselected:hover{
    background-color: rgb(255, 215, 162);
}

.correct-selected{
    background-color: rgb(4, 185, 4);
    color: black

}

.incorrect-selected{
    background-color: rgb(248, 41, 41);
    color: white;
}

.topline h4{
    width:80%;
    display:inline-block;
}

.topline i{
    float: right;
    margin: 10px;
    color: #fa883c;
}

.question-preview button{
    background-color: #ffffff;
    border:2px solid #fa883c;
    width: 500px;
    height: 80px;
    margin: auto;
    display: block;

}

.question-preview {
    margin:auto;
}

.question-preview:first-child button{
    border-radius: 15px 15px 0 0;
}

.question-preview:last-child button{
    border-radius: 0px 0px 15px 15px;
}

.section{
    width: 100%;
    background-color: #fa883c;


}
