<!doctype html>
<html>
    <head>
        <title>Examine</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://kit.fontawesome.com/1e90776cd4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% block content %}{% endblock content %}
        {% if __name__ == '__main__' %}
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
              {% if messages %}
                {% for message in messages %}
                <div class="container flash-error">
                    {{ message }}
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        {% endif %}
    </body>
</html>
