{% extends "index.html" -%}
{% block content %}

<h1>Login</h1>

<form class="container" action="login" method="post">

    <div class="login-field">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
    </div>

    <div class="login-field">
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>

    <div class="login-field">
        <button type="submit">Login</button>
    </div>
</form>

<div class="container">
    <label><a href='register'>Register a new account</a></label>
</div>

{% endblock content %}
