<head>
    <title>Examine</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://kit.fontawesome.com/1e90776cd4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% block content %}


<form class="container" action="login" method="post" id="loginbox">
    <img style="width:120px" src="{{ url_for('static', filename='examinelogo.png') }}"></img>
    <br>
    <div class="login-field">
        <input type="text" placeholder="Email" name="email" class="email" required>
    </div>


    <div class="login-field">
    
        <input type="password" placeholder="Password" name="password" class="password" required>
    </div>
<br>
    <div class="login-field">
        <button type="submit" class="loginbutton" id="login_submit">Login</button>
    
    </div>
    <br>
    No account? 
<br>
<br>
<button type=button class="register" onclick='window.location="register"'>Register</button>
</form>


{% endblock content %}
